<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>

    <div>
        <div class="container">
            <form>
               <h3> Name:</h3>
                <input type="paragraph text" name="name">
                <br>
                <h3>Description:</h3>
                <input type="paragraph text" name="description">
                <br>
                <h3>Completion:</h3>
                <input type="paragraph text" name="completion">
                <br>
                <h3>Score:</h3>
                <input type="paragraph text" name="score">
                <br>
               <h3>Gold Stars:</h3>
                <input type="paragraph text" name="gold_stars">
            </form>
            <h1>Our Assignments</h1>
                <div class="layout">
                    <ul>

                    </ul>
                </div>
        </div>
    </div>



<script src="./vendors/jquery.min.js"></script>
<script src="./javascripts/app.js"></script>
</body>
</html>