body {
    background: url("../images/chalkboard.jpg") no-repeat fixed center;
}
.layout {
    font-family:  "Special Elite";
    font-size: 20px;
    margin: 0 0 10px 200px;
    color: #fafafa;
}
h1 {
    font-family:  "Special Elite";
    font-size: 50px;
    margin: 40px 0 10px 200px;
    color: #fafafa;
}
ul {
    list-style: none;
}
form{
    float: right;
    margin-right: 200px;
}
h3{
    font-family:  "Special Elite";
    font-size: 20px;
    color: #fafafa;
    padding: 0px;
}
input{
    width: 300px;
    height: 20px;
}


