body {
    background: url("../images/brick.jpg") no-repeat fixed center;
}

.container {
    background: url("../images/chalkboard.jpg") no-repeat fixed center;
    height:900px;
    width: 1280px;
}
.layout {
    font-family:  "Special Elite";
    font-size: 20px;
    color: #fafafa;
    overflow: scroll;
    height: 600px;

}
h1 {
    font-family:  "Special Elite";
    font-size: 50px;
    margin: 70px 0 10px 0;
    color: #fafafa;
    text-align: center;
}
.layout li {
    list-style-type: none;
    padding-bottom: 10px;
    width: 600px;
    margin: 20px 0 0 20px;
}
form{
    float: right;
}
h3{
    font-family:  "Special Elite";
    font-size: 20px;
    color: #fafafa;
    padding: 0px;
}
input{
    width: 500px;
    height: 20px;
}

.submit{
    margin-top: 2em;
    text-align: center;
}

.button {
    background-color: white;
}
.removeBtn {
    background-color: white;
    color: #000;
    width: 75px;
    height: 2em;
    text-align: center;
    font-size: 12px;

}
#intake{
    padding-left: 75px;
}

