body {
    background-image: url("../images/chalkboard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.layout {
    margin-left: 50px;
    color: #fafafa;
}
h1 {
    margin-left: 50px;
    color: #fafafa;

}

